<div>
    <h1>
        {{ title }}
        <img src="https://loading.io/spinners/pies/lg.pie-chart-loading-gif.gif" *ngIf="loading">
    </h1>
    <hr>

    <ol [start]="newsSLNOStart">
        <li *ngFor="let news of hackerNews">
            <h3 class="news-heading">{{news.title}}</h3>
            <a [href]="news.url" target="_blank">{{news.url}}</a>
        </li>
    </ol>

    <div class="pagination-toolbar">
        <button (click)="goToPreviousPage()" [disabled]="loading">Previous</button>
        <ul>
            <li *ngFor="let number of pageButtonNumbers">{{number}}</li>
        </ul>
        <button (click)="goToNextPage()" [disabled]="loading">Next</button>
        <i>Page No - {{this.pageNumber}}</i>
    </div>
</div>