<div>
    <h1>
        {{ title }}
        <img src="https://loading.io/spinners/pies/lg.pie-chart-loading-gif.gif" *ngIf="loading">
    </h1>
    <hr>

    <ol [start]="newsSLNOStart">
        <li *ngFor="let news of hackerNews">
            <h3 class="news-heading">{{news.title}}</h3>
            <a [href]="news.url" target="_blank">{{news.url}}</a>
        </li>
    </ol>

    <div class="pagination-toolbar">
        <button (click)="goToPreviousPage()" [disabled]="loading" *ngIf="isNotFirstPage()"><<</button>
        <button (click)="gotoPage(number)" [disabled]="loading" *ngFor="let number of pageButtonNumbers" [ngClass]="{selected: isSelectedPage(number)}">
                {{number}}
        </button>
        <button (click)="goToNextPage()" [disabled]="loading" *ngIf="isNotLastPage()">>></button>
        <i>Page No - {{this.pageNumber}}</i>
    </div>
</div>