h1 {
    img {
        width: 70px;
        height: 70px;
        position: fixed;
        top: 10px;
    }
}

ol {
    li {
        h3 {
            margin: 20px 0px 0px 0px;
        }
    }
}

.pagination-toolbar {
    padding-left: 40px;
    display: flex;
   
    i {
        margin-left: 20px;
    }
}

ul {
    display: flex;
    padding: 0px;
    list-style: none;
    li{
        padding: 10px;
    }
}