h1 {
    img {
        width: 70px;
        height: 70px;
        position: fixed;
        top: 10px;
    }
}

ol {
    li {
        h3 {
            margin: 20px 0px 0px 0px;
        }
    }
}

.pagination-toolbar {
    padding-left: 40px;
    display: flex;
    button {
        margin: 2px;
    }
    i {
        margin-left: 20px;
    }
    .selected {
        border-color: rgb(0, 180, 130);
    }
}